@import "../main";
.body {
    margin-bottom: 50px;
}
.recommend {
    margin: 0 15px;
    p {
        height: 30px;
        text-align: center;
        border-bottom: 1px solid #acacac;
        position: relative;
        margin-bottom: 30px;
        .recommend2 {
            .font-size(20px);
            display: inline-block;
            width: 88px;
            height: 30px;
            background-color: white;
            color: #3c3c3c;
            position: relative;
            top: 15px;
        }
    }
    .recommend3 {
        .margin-top(30px);
        border-bottom: 1px solid #e6e6e6;
        padding-bottom: 27px;
        .recommend3-1 {
            position: relative;
            img {
                width: 100%;
                height: 100%;
            }
            .recommend3-1-1 {
                position: absolute;
                height: 27px;
                text-align: center;
                line-height: 27px;
                color: #fafafa;
                padding:0 14px 0 10px;
                .font-size(14px);
                background-color: rgba(34, 34, 34, 0.8);
                bottom: 23px;
                span {
                    .font-size(24px);
                }
            }
        }
        .recommend3-2 {
            .font-size(20px);
            color: #303030;
            .margin-top(20px);
        }
        .recommend3-3 {
            .font-size(15px);
            color: #505050;
            .margin-top(10px);
        }
    }
}