@import "../main";

body {
  max-width: 700px;
  margin: auto;
  font-family: PingFang-SC-Medium;
  color: #000000;
  position: relative;
}

.body {
  margin-bottom: 40px;
}

.banner {
  img {
    height: 251px;
  }
  position: relative;
  .arrows {
    line-height: 36px;
    width: 36px;
    height: 36px;
    position: absolute;
    left: 15px;
    top: 18px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    z-index: 20;
    img {
      width: 21px;
      height: 16px;
      margin-left: 7px;
    }
  }
  .menu {
    line-height: 36px;
    width: 36px;
    height: 36px;
    position: absolute;
    right: 15px;
    top: 18px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    z-index: 20;
    img {
      width: 21px;
      height: 16px;
      margin-left: 7px;
    }
    .menu-1 {
      position: absolute;
      display: none;
      right: 0px;
      top: 45px;
      width: 126px;
      height: 135px;
      padding: 0 10px;
      background-color: rgba(0, 0, 0, 0.82);
      border-radius: 5px;
      b {
        position: absolute;
        top: -10px;
        right: 17px;
        img {
          width: 21px;
          height: 10px;
        }
      }

      li {
        line-height: 45px;
        .font-size(15px);
        color: #ffffff;
        border-bottom: 1px solid #ffffff;
        img {
          margin-left: 0;
          margin-right: 5px;
          width: 19px;
          height: 20px;
        }
      }
      .menu-order-center {
        border: none;
      }
    }
  }
}

.hotel-detail {
  height: 100px;
  position: relative;
  padding-top: 20px;
  .hotel-detail-price {
    width: 85px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 15px;
    background-color: #ffcc00;
    .font-size(13px);
    color: #fafafa;
    text-align: center;
    line-height: 30px;
    font-family: PingFang-SC-Bold;
    span {
      .font-size(18px);
    }
  }
  .hotel-detail-1 {
    .font-size(20px);
    margin-left: 13px;
  }
  .hotel-detail-2 {
    .margin-top(10px);
    .hotel-detail-2-1 {
      .font-size(15px);
      color: #757575;
      margin-left: 13px;
    }
  }
}

.detail-hotel_1 {
  padding-bottom: 80px;
}

.classify {
  width: 100%;
  height: 38px;
  background-color: white;
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
  padding-top: 7px;
  .classify-1 {
    display: flex;
    height: 24px;
    line-height: 24px;
    text-align: center;
    .font-size(17px);
    span {
      display: inline-block;
      height: 30px;
    }
    .classify-1-1 {
      flex: 1;
      border-right: 1px solid #cdcdcd;
    }
    .classify-1-2 {
      flex: 1;
    }
    div.cur-1 {
      span {
        color: #ffcc00;
        border-bottom: 2px solid #ffcc00;
      }
    }
  }
}

.detail-hotel {
  margin: 0 15px;
  .detail-hotel-2 {
    .margin-top(12px);
    padding-bottom: 23px;
    .font-size(15px);
    font-family: @typeface;
    line-height: 30px;
    border-bottom: 1px solid #cdcdcd;
    .detail-hotel-2-1 {
      height: 190px;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
  .detail-hotel_2 {
    border: none;
  }
}

.notice {
  .detail-hotel {
    border-bottom: 1px solid #cdcdcd;
  }
  padding-bottom: 80px;
  display: none;
  .notice-money {
    font-family: @typeface;
    line-height: 30px;
    .font-size(15px);
    padding-top: 5px;
    padding-bottom: 20px;
  }
  .back-change {
    padding-bottom: 0;
  }
}

.service {
  width: 38px;
  height: 34px;
  position: absolute;
  bottom: 56px;
  left: 15px;
  img {
    width: 100%;
    height: 100%;
  }
}

.back-top {
  display: none;
  width: 34px;
  height: 33px;
  position: absolute;
  bottom: 56px;
  right: 15px;
  img {
    width: 100%;
    height: 100%;
  }
}

