/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}

/*
 * Global add-ons
 */
.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Sidebar
 */
.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if view port is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}

@media screen and (max-width: 768px) {
    .sidebar {
        display: none;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-left: -20px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

.nav-sub-sidebar > li > a {
    padding-right: 20px;
    padding-left: 34px;
}

.nav-sub-sidebar > li > a {
    color: #777777;
}

.nav-sub-sidebar > li.active {
    text-decoration: none;
    background-color: #eee;
}

/*
 * Main content
 */
.main {
    padding: 25px 40px 0 40px;
}

.main .page-header {
    margin-top: 0;
}

/*
 * Placeholder dashboard ideas
 */
.placeholders {
    margin-bottom: 30px;
    text-align: center;
}

.placeholders h4 {
    margin-bottom: 0;
}

.placeholder {
    margin-bottom: 20px;
}

.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

/*
 * Message
 */
div#message {
    position: fixed;
    min-width: 300px;
    width: 30%;
    right: 30px;
    top: 80px;
    z-index: 9999;
    overflow: hidden;
}

/*
 * General
 */
.alert {
    width: 90%;
    margin: 2px auto;
}

code {
    color: #fff;
}

code.default {
    background-color: #777;
}

code.primary {
    background-color: #337ab7;
}

code.success {
    background-color: #5cb85c;
}

code.info {
    background-color: #5bc0de;
}

code.warning {
    background-color: #f0ad4e;
}

code.danger {
    background-color: #d9534f;
}

div.title {
    font: 16px normal;
    padding-bottom: 30px;
    color: #888;
}

a:hover,
a:focus {
    text-decoration: none;
}

a.thumbnail {
    background-color: #f2f2f2;
    min-height: 34px;
    position: relative;
}

a.thumbnail .action-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, .3);
    border-radius: 4px;
}

a.thumbnail .action-btn span {
    padding: 5px;
    float: left;
    margin: 2px;
}

a.thumbnail .action-btn span:hover {
    opacity: .7;
}

span.not-set {
    color: #bbb;
}

.form-inline .form-group {
    margin: 3px auto;
}

td > div, th > div {
    overflow: hidden;
}

.radio-inline, .checkbox-inline,
.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline {
    margin-right: 10px;
    margin-left: 0;
}

span.field-tag {
    line-height: 34px;
    float: left;
    margin: 0 8px 8px 0;
}

span.alert {
    width: auto;
    padding: 0;
}

span.field-tag .tag {
    float: left;
    padding: 0 4px 0 8px;
    margin: 0;
}

span.field-tag span {
    float: right;
    width: 34px;
    text-align: center;
    line-height: 34px;
    cursor: pointer;
    opacity: .7;
}

span.field-tag span:hover {
    opacity: 1;
}

/*
 * Page
 */
div.page {
    width: 100%;
    text-align: center;
}

/*
 * Animation
 */
.bigtosmall {
    animation: bigtosmall 0.4s 1;
}

@keyframes bigtosmall {
    0% {
        transform: scale(1.2, 1.2);
        opacity: 0
    }

    100% {
        transform: scale(1, 1);
        opacity: 1
    }
}

.navbar-brand {
    font-size: 30px;
    text-shadow: 3px 3px 0 #101010, 4px 4px 0 #eee;
}

.navbar-brand:hover {
    transition: color 1s ease;
}

/*
 * Below CSS for plugins
 */

/*
 * Upload
 */
div.upload-div {
    width: 310px;
    height: 106px;
    padding: 16px 20px;
}

div.upload-div > div {
    width: 100%;
    height: 30px;
    font-size: 14px;
}

div.upload-div .intro {
    margin-top: 8px;
}

div.upload-div > div .title {
    float: left;
    width: 50px;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    padding-bottom: 0;
}

div.upload-div > div input.text, div.upload-div > div select {
    float: left;
    height: 26px;
    width: 190px;
    font-size: 14px;
    background: white;
    border: 1px solid #E0E0E0;
    border-radius: 2px;
    text-indent: 4px;
    border-top-color: #848484;
    border-left-color: #848484;
    margin-top: 1px;
}

div.upload-div > div select {
    width: auto;
    text-indent: 1px;
}

div.upload-div > div select.disabled {
    border-top-color: #E0E0E0;
    border-left-color: #E0E0E0;
}

div.upload-div > div button, button.browse {
    width: 50px;
    height: 26px;
    float: left;
    color: white;
    border: 1px solid #2274c9;
    background: #3f8edf;
    text-align: center;
    line-height: 26px;
    margin-left: 5px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 1px;
}

td pre {
    padding: 0;
    margin: 0;
    font-size: inherit;
    word-break: normal;
    word-wrap: normal;
    white-space: pre-wrap;
    background-color: transparent;
    border: none;
    overflow: hidden;
}

/*
 * Block quote
 */
blockquote {
    margin: 0;
    font-style: italic;
    font-family: Georgia, Times, "Times New Roman", serif;
    padding: 0 8px 0 20px;
    border: 0 solid #ccc;
    border-left-width: 5px;
}

/*
 * General
 */
div.mission {
    width: 28%;
    min-width: 250px;
    margin: 50px auto;
}

.tooltip {
    line-height: 1.8;
}
.tooltip.in {
  filter: alpha(opacity=100);
  opacity: 1;
}
.tooltip-inner {
    text-align: left;
    max-width: 960px;
    padding: 5px 5px;
}

.operation a.btn {
    margin-bottom: 3px;
}

p.list-p {
    margin: 0;
}

.table > tbody > tr > td {
    padding: 10px;
}

form p.bg-info {
    padding: 10px;
}

.modal-footer {
    border-top: none;
}

h1 {
    margin: 0;
}

h1 small {
    font-size: 50%;
}

p.bg-warning, p.bg-success, p.bg-info {
    padding: 15px;
}

div.site-error h1 {
    margin: 25px auto;
}

.sortable-box {
    cursor: move;
}

input[type="file"] {
    font-size: 12px;
    padding: 7px 12px;
}

#menu-toggle {
    float: left;
    cursor: pointer;
    width: 36px;
    height: 50px;
    line-height: 50px;
    font-size: 26px;
    color: #cccccc;
}

#menu-toggle:hover {
    color: #428bca;
    transition: color 1s ease;
}

.table {
    margin-bottom: 5px;
}

.form-group {
    margin-bottom: 18px;
}

a.thumbnail .action-btn {
    cursor: pointer;
}

.sort-btn {
    cursor: pointer;
    font-size: 12px;
    color: #428bca;
}

/*
 * Cropper
 */
#crop-box {
    width: 100%;
    height: 440px;
    padding: 20px 0;
}

#crop-box .container {
    width: 500px;
    height: 400px;
    float: left;
}

#crop-box .container img {
    max-width: 100%;
}

#crop-box .assist {
    float: left;
    margin-left: 30px;
}

#crop-box .assist .crop-preview {
    overflow: hidden;
}

.modal-body {
    padding: 20px 15px;
}

.modal-footer {
    padding: 0 15px 15px 15px;
}