@import "../main";
body {
    background-color: #2c3e50;
}

.margin-top(@top) {
    margin-top: @top;
}

.font-size(@size) {
    font-size: @size;
}

.banner {
    img {
        height: 251px;
    }
    position: relative;
    .menu-box {
        width: 80px;
        height: 80px;
        right: 0;
        position: fixed;
        z-index: 20;
        .menu {
            width: 36px;
            height: 36px;
            position: absolute;
            right: 22px;
            top: 22px;
            background-color: #ffd000;
            border-radius: 50%;
            z-index: 20;
            text-align: center;
            line-height: 36px;
            img {
                width: 21px;
                height: 16px;
            }
        }
    }
    .focus-point {
        width: 100%;
        position: absolute;
        top: 195px;
        z-index: 20;
        text-align: center;
        li {
            display: inline-block;
            margin: 0 2px;
            width: 6px;
            height: 6px;
            border-radius: 100%;
            opacity: 1;
            border: 1px solid #fff;
        }
        .on {
            background: #ffcc00;
            border: 1px solid #fc0;
        }
    }
}

.carousel {
    position: relative;
    overflow-x: hidden;
    .scroll {}
    .carousel-scroller {
        position: relative;
        white-space: nowrap;
        font-size: 0;
        div {
            position: relative;
            display: inline-block;
        }
        .top20{
            transform: translateY(25px);
        }
    }
}

.index-banner-height{
    height: 225px;
}

.kake-box {
    color: #ffd000;
    &.hot-aim {
        .kake-title {
            overflow: hidden;
            margin: 5px 0 18px 0;
            h3 {
                img {
                    display: inline-block;
                    height: 20px;
                    margin-right: 3px;
                }
                float: left;
                font-size: 18px;
                margin-left: 14px;
            }
            a {
                float: right;
                display: block;
                margin-top: 20px;
                color: #fff;
                img {
                    width: 7px;
                    height: 10px;
                    margin: 0 9px 0 7px;
                }
            }
        }
        .kake-theme{
            height: 245px;
        }
        .carousel img {
            width: 104px;
            box-shadow: 0 0 10px rgba(8, 10, 10, 0.5);
        }
    }
    
    &.flash-shopping-zone {
        .kake-title {
            overflow: hidden;
            margin: 10px 0 28px 0;
            h3 {
                img {
                    display: inline-block;
                    height: 22px;
                }
                float: left;
                font-size: 18px;
                margin-left: 14px;
            }
            a {
                float: right;
                display: block;
                margin-top: 20px;
                color: #fff;
                img {
                    width: 7px;
                    height: 10px;
                    margin: 0 9px 0 7px;
                }
            }
        }
        .kake-theme {
            .product_image{
                width: 300px;
                position: relative;
                margin: 0 5px;
                a{
                    img{
                        width: 300px;
                    }
                    
                }
                p{
                    position: absolute;
                    width: 300px;
                    bottom: 0;
                    text-align: center;
                    color: #fff;
                    font-size: 14px;
                    margin: 0;
                    padding: 8px 0 6px 0;
                    background: rgba(16,31,49,0.7);
                }
            }
        }
    }
    
    &.activity{
        margin-top: 30px;
    }

    &.product{
        .title{
            margin: 22px 0 42px 0;
            img{
                width: 100%;
                padding: 0 25px;
            }
        }
        .list{
            ul{
                overflow: hidden;
                margin: 0 15px;
                li{
                    margin-bottom: 25px;
                    a{
                        outline: 0;
                        text-decoration: none;
                        .photo{
                            img{
                                position: relative;
                                width: 100%;
                                box-shadow: 0 0 10px rgba(8, 10, 10, 0.5);
                            }
                        }
                        span{
                            height: 27px;
                            text-align: center;
                            line-height: 30px;
                            color: #fafafa;
                            .font-size(14px);
                            background-color: rgba(34, 34, 34, 0.8);
                            position: absolute;
                            padding: 0 14px 0 10px;
                            font-size: 22px;
                            margin-top: -45px;
                            i{
                                font-size: 14px;
                                margin-right: 1px;
                            }
                        }
                        .text{
                            h2 {
                                display: inline-block;
                                font-size: 20px;
                                color: #fff;
                                margin: 18px 0 5px 0;
                            }
                            small {
                                display: block;
                                line-height: 1rem;
                                font-size: 16px;
                                color: #969696;
                                margin: 10px 0 30px 0;
                            }
                        }
                    }
                    
                    &.thinner-border {
                        position: relative;
                        width: 100%;
                        height: 1px;
                    }
                    &.thinner-border:after {
                        content: '';
                        position: absolute;
                        width: 500%;
                        height: 500%;
                        border: 1px solid #ffd000;
                        transform-origin: 0 0;
                        transform: scale(0.2, 0.2);
                        box-sizing: border-box;
                    }
                }
                
                & li:last-child{border-bottom:none;}
            }
        }
    }
}
